workflows/ativar_inativar_cliente_alerty.json
{
  "name": "ativar_inativar_cliente_alerty",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ativar_inativar_cliente_alerty",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -16
      ],
      "id": "298dd3c7-5efc-4dea-b24a-bdd8b4ab168d",
      "name": "Webhook",
      "webhookId": "87747c6d-1f6b-4501-a4f4-638fba81e5b0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"msg\": \"sucess\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        0
      ],
      "id": "4d0bbee5-c75d-4272-8f3a-9f8a17fed19f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "327d63b9-d632-4455-8e62-7a951630a7d0",
              "leftValue": "={{ $('Webhook').item.json.body.acao }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -16
      ],
      "id": "20b154cd-7d55-409a-ba9a-3c367260e110",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "9f938099-a2f7-4b48-971c-98493a30b9cd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "alerty",
          "mode": "list",
          "cachedResultName": "alerty"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": "={{ true }}",
            "id_unico": "={{ $('Webhook').item.json.body.id_cliente }}"
          },
          "matchingColumns": [
            "id_unico"
          ],
          "schema": [
            {
              "id": "id_unico",
              "displayName": "id_unico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_cliente",
              "displayName": "id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_vencimento",
              "displayName": "data_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_ultimo_pagamento",
              "displayName": "data_ultimo_pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_servicos",
              "displayName": "id_servicos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "selos",
              "displayName": "selos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_empresa",
              "displayName": "id_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url_foto",
              "displayName": "url_foto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -112
      ],
      "id": "3b49b6c7-738d-4c15-850c-6c5916022701",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "WrtWROYVRhc8jjZY",
          "name": "bcaju 2.0"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "alerty",
          "mode": "list",
          "cachedResultName": "alerty"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ativo": "={{ false }}",
            "id_unico": "={{ $('Webhook').item.json.body.id_cliente }}"
          },
          "matchingColumns": [
            "id_unico"
          ],
          "schema": [
            {
              "id": "id_unico",
              "displayName": "id_unico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_cliente",
              "displayName": "id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ativo",
              "displayName": "ativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_vencimento",
              "displayName": "data_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_ultimo_pagamento",
              "displayName": "data_ultimo_pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_servicos",
              "displayName": "id_servicos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "selos",
              "displayName": "selos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_empresa",
              "displayName": "id_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url_foto",
              "displayName": "url_foto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        160
      ],
      "id": "f88594b0-a4f6-46be-8c93-c09224f40f0d",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "WrtWROYVRhc8jjZY",
          "name": "bcaju 2.0"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "api.bcaju.ai",
            "user-agent": "Bubble",
            "content-length": "33",
            "accept-encoding": "gzip, deflate",
            "baggage": "bubblegroup.client.version=f14ac74c1ac2541d99f0df0d30755f99e69f003a,bubblegroup.client.commit_timestamp=1759516926000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=bcaju.ai,bubblegroup.workflow.appname=bcaju,bubblegroup.workflow.app_version=test,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=cqatw,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=cqauN,bubblegroup.workflow.action.type=apiconnector2-cpxig.cqatp",
            "content-type": "application/json",
            "traceparent": "00-d4e21b11b7f22de1dad6e973d4430d72-e9170809fe9ae4d5-01",
            "x-bubble-depth": "1",
            "x-forwarded-for": "44.251.45.181",
            "x-forwarded-host": "api.bcaju.ai",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e4e2a7d051f",
            "x-real-ip": "44.251.45.181"
          },
          "params": {},
          "query": {},
          "body": {
            "id_cliente": "273",
            "acao": "sim"
          },
          "webhookUrl": "https://api.bcaju.ai/v1/ativar_inativar_cliente_alerty",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2b28d4b-b8b2-4319-8630-a78b8ad96eea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "D8w0s2H14yOHHEoT",
  "tags": [
    {
      "updatedAt": "2025-10-06T12:18:40.198Z",
      "createdAt": "2025-10-06T12:18:40.198Z",
      "id": "VRdFnvfp2v9UTj76",
      "name": "alerty"
    }
  ]
}